@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/palette";
@import "./../../sassStyles/mixins";

.SpeechBubbles {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px 30px 0px 30px;
  @include height-width(460px, auto);
  border-radius: 15px;

  @include query-tablet {
    padding: 20px 20px 0px 20px;
    @include height-width(49%, 95%);
  }

  @include query-phone {
    padding: 20px 20px 0px 20px;
    @include height-width(49%, 100%);
  }

  &_active {
    margin: 0px 15px 60px 0px;
    background-color: $orange;

    @include query-tablet {
      margin: 0px;
    }
    @include query-phone {
      margin: 0px;
    }
  }
  &_disabled {
    margin: 60px 0px 0px 0px;
    background-color: $grey;

    @include query-tablet {
      margin: 0px 0px 0px 5%;
    }
    @include query-phone {
      margin: 0px;
    }
  }
}