@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/palette";
@import "./../../sassStyles/mixins";

.SpeechBubbles {
  display: flex;
  flex-direction: column;
  @include height-width(460px, 49%);
  border: 1px solid green;
  border-radius: 15px;

  @include query-tablet {
    @include height-width(auto, 95%);
  }

  @include query-phone {
    @include height-width(auto, 100%);
  }

  &_active {
    background-color: $orange;
  }

  &_disabled {
    background-color: $grey;
  }
}