@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/mixins";
@import "./../../sassStyles/palette";

.Button {
  cursor: pointer;
  padding: 0px;
  background-color: transparent;
  border: none;

  &:hover {
    transform: scale(1.5, 1.5);
  }

  &:enabled {
    transition: all 0.25s ease-in-out;
  }

  &:disabled {
    transition: none;
    transform: scale(1, 1);
    cursor: auto;
  }

  &_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include height-width(50px, 130px);
    @include query-phone {
      margin: 5px;
    }
  }

  &_side {
    @include height-width(24px, 24px);
  }

  &_main {
    @include height-width(40px, 40px);

    @include query-phone {
      margin: 0px 20px;
    }
  }
}