@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/palette";
@import "./../../sassStyles/mixins";

.Output {
  box-sizing: border-box;
  padding: 10px;
  @include height-width(370px, 300px);
  color: $white;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}