@import "./../../sassStyles/mediaQueries";
@import "./../../sassStyles/mixins";

.Translator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include height-width(auto, auto);
  border: 1px solid red;

  @include query-tablet {
    flex-direction: column;
    @include height-width(auto, 80vw);
  }

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    @include height-width(auto, 90vw);
  }
}